
/*Container Login*/
.container__login{
  display: none;/*aqui fica flex*/
  justify-content: center;
  width: var(--width);
  height: var(--height);
  margin-top: 10rem;
}

.blue__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-blueligth);
  width: 26rem;
  height: var(--height);
  color: var(--color-white); 
}

.blue__container span{
  font-size: 2rem;
}

.blue__container .title__bc{  
  font-family: 'Red Rose', cursive;
  font-size: 3.4rem; 
}

.blue__container p{
  margin-bottom: 1.7rem;
  text-align: justify;
  padding: 2rem 2rem;
}

.blue__container .button__signup{
  color: var(--color-white);
  background: var(--color-red);
  border-radius: 3rem;
  border: none;
  width: 11.9rem;
  height: 2.5rem;
  font-size:1.4rem;
}

.dark__container{
  background: var(--color-dark);
  color: var(--color-white);
  width: 26rem;
}

.dark__container .header__dc{
  width: 100%;
  margin: 5.2rem 0 4.7rem 0;
  margin-bottom: 2.5rem;
}

.dark__container .header__dc span{
  font-family: 'Red Rose', cursive;
  font-size: 1.8rem;
}

.dark__container .header__dc p{
  font-size: 1.2rem;
  margin-bottom: 4.7rem;
}

.dark__container a{
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-blueligth);
}

.dark__container a:hover{
  color: var(--color-greylight);
}

.form_input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_input input:not(:last-child){
  background: var(--color-darkligth);
  outline: none;
  border:none;
  width: 26rem;
  height: 4rem;
  color: var(--color-greylight);
  caret-color: var(--color-greylight);
  padding-left: 1.4rem;
}

.form_input input:not(:last-child):hover{
  background: var(--color-darkligth2);
}

.input__login{
  height: .1rem;
  width: 100%;
  background:var(--color-greylight);
  margin-bottom: 1.5rem;
}

.btn__login{
  width: 11.9rem;
  height: 2.5rem;
  margin: 2.4rem 2.4rem;
  border-radius: 3rem;
  background: transparent;
  color: var(--color-blueligth);
  border: var(--color-greylight) solid .1rem;
  cursor: pointer;
}

/*container register*/

.container__register{
 position: absolute;
 display: flex;
 margin-top: 10rem;
}


