/*Container Login*/
.container__login {
  display: flex; 
  justify-content: center;
  width: var(--width);
  height: var(--height);
  margin-top: 10rem;
}

.blue__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-blueligth);
  width: 26rem;
  height: var(--height);
  color: var(--color-white);
}

.container::before {
  /*a animação vai usuar essa pseudo classe para fazer
  animação de transição */
  content: '';
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-blueligth);
  width: 26rem;
  height: var(--height);
  color: var(--color-white);

  left: 0%;
  z-index: 1;
}

.blue__container span {
  font-size: 2rem;
}

.blue__container .title__bc {
  font-family: 'Red Rose', cursive;
  font-size: 3.4rem;
}

.blue__container p {
  margin-bottom: 1.7rem;
  text-align: justify;
  padding: 2rem 2rem;
}

.button__signup {
  color: var(--color-white);
  background: var(--color-red);
  border-radius: 3rem;
  border: none;
  width: 11.9rem;
  height: 2.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.dark__container {
  background: var(--color-dark);
  color: var(--color-white);
  width: 26rem;
}

.dark__container .header__dc {
  width: 100%;
  margin: 5.2rem 0 4.7rem 0;
  margin-bottom: 2.5rem;
}

.dark__container .header__dc span {
  font-family: 'Red Rose', cursive;
  font-size: 1.8rem;
}

.dark__container .header__dc p {
  font-size: 1.2rem;
  margin-bottom: 4.7rem;
}

.dark__container a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--color-blueligth);
}

.dark__container a:hover {
  color: var(--color-greylight);
}

.form_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_input input:not(:last-child) {
  background: var(--color-darkligth);
  outline: none;
  border: none;
  width: 26rem;
  height: 4rem;
  color: var(--color-greylight);
  caret-color: var(--color-greylight);
  padding-left: 1.4rem;
}

.form_input input:not(:last-child):hover {
  background: var(--color-darkligth2);
}

.input__login {
  height: 0.1rem;
  width: 100%;
  background: var(--color-greylight);
  margin-bottom: 1.5rem;
}

.btn__login {
  width: 11.9rem;
  height: 2.5rem;
  margin: 2.4rem 2.4rem;
  border-radius: 3rem;
  background: transparent;
  color: var(--color-blueligth);
  border: var(--color-greylight) solid 0.1rem;
  cursor: pointer;
}

/*container register*/

.container__register {
  position: absolute;
  display: flex;
  margin-top: 10rem;
}

.btn__login:hover {
  background: var(--color-green);
  color: var(--color-white);
}

.blue__container-register {
  /*Aqui é o conteundo de informação do register
  durante a animação, a pseudo classe vai sobrepor*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26rem;
  height: var(--height);
  color: var(--color-white);
  background:#447279;
}

#img__rocket {
  background-image: url('./img/rocket.png');
  width: 14.3rem;
  height: 13.6rem;
}

.blue__container-register h3{
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 3.6rem 1.6rem;
  text-align: left;
}

.blue__container-register h5{
  font-size: 1.5rem;
  font-weight: normal;
  text-align: left;
  margin-bottom: .8rem;
}

.blue__container-register ul{
  text-align: left;
  margin: 1rem 3.6rem 1.2rem 3.6rem;
}

.blue__container-register ul li{
  margin-bottom: .8rem;
}

.blue__container-register a{
  color: var(--color-white);
  width: 11.9rem;
  height: 2.5rem;
  border-radius: 3rem;
  border: none;
  background: var(--color-red);
  text-decoration: none;
  transition: .3s;
}

.blue__container-register a:hover{
  background: var(--color-green);
  transition: .3s;
}

/*ORRGANIZANDO AS VISUALIZAÇOES DOS CONTAINERS*/
.container__login .blue__container,
.container__login .dark__container{
  z-index: 12;
}

.blue__container-register .blue__container,
.blue__container-register .dark__container{
  z-index: -1;
}

/*MOVIMENTAÇÃO DOS CONTAINERS*/

.sign-up-js .container__login .blue__container,
.sign-up-js .container__login .dark__container{
  z-index: -1;
}

.sign-up-js .blue__container-register{
  z-index: 12;
}

.sign-up-js .container::before{
  display: flex;
  left: 50%;
  animation: moveUp .7s;
}


.sign-in-js .container::before{
  animation: moveIn .7s;
}


.sign-in-js .container__login .blue__container,
.sign-in-js .container__login .dark__container {
  z-index: 12;
}

/*CRIANDO A ANIMAÇÃO DO CONTAINER*/
@keyframes moveUp {
  from {
    left: 0%;
    width: 26rem;
  }

  to{
    left: 50%;
    width: 26rem;
  }
}

@keyframes moveIn {
  from {
    left: 50%;
    width: 26rem;
    z-index: 13;
  }

  to{
    left: 0%;
    width: 26rem;
    z-index: 13;
  }
}

/*CONTEÚDO DENTRO DO ::BEFORE*/
.sign-up-js .container__login .blue__container{
  z-index: -1;
  position: relative;
  animation: deslocamento .6s;
}

.sign-up-js .container__login .dark__container{
  z-index: -1;
  position: relative;
  animation: deslocamentoesquerda .6s;
}

/*CRIANDO ANIMAÇÃO DOS CONTEÚDOS DOS CONTAINER*/

@keyframes deslocamento {
  from {
    left: 0;
    opacity: 1;
    z-index: 11;
  }

99%{
  left: 200px;
  opacity: .1;
  z-index: 11;
}
  to {
    left: 200px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes deslocamentoesquerda {
  from {
    left: 0;
    opacity: 1;
    z-index: 11;
  }
  to {
    left: -200px;
    opacity: 0;
    z-index: -1;
  }
}